# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Data (VERY IMPORTANT)
data/

# Large files
*.zip

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Logs
*.log